.pases{
  font-size: 90%;
  min-height: 90px;
  .body{
     margin-left: 200px;
  }
  .meta{
    width: 200px;
    float: left;
    span{
      color: #767E84;
      border: 0 none;
      font-family: inherit;
      font-style: inherit;
      font-weight: inherit;
      margin: 0;
      outline: 0 none;
      padding: 0;
      vertical-align: baseline
    }
  }
}
