<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha hecho un pedido de cambio de clave, podés hacerlo haciendo click en el siguiente link.</p>

<p>
<a href = "<%= "http://132.147.160.90:3000/admin/password/edit?reset_password_token=#{@resource.reset_password_token}" %>"> Has click aquí </a>
</p>


<p>Si no has hecho ningún pedido por favor ignora este correo.</p>
<p>Tu clave no cambiará hasta que entres en el link de arriba y escribas una nueva.</p>

<p>Este es un email automático, por favor no lo respondas.</p>
