<% if @help_body %>

  <div>
    <%= raw @help_topic.help(action_name) %>
    <br>
    <%= link_to "Leer mas...", admin_topic_path(@help_topic)%>
    <%= link_to "editar", "/admin/active_admin_comments/#{@help_comment.id}/edit"%>
  </div>
<% else %>
  No hay ayuda creada, has click
  <%= link_to "aquí", {:controller=> :topics, :action=>:new, :forum_id => Forum.first.id, :name=>controller_name} %>
  para crearla.
<% end %>
